*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(15, 8, 8);
}

.container{
    height: 500px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image:url(bb2.jpg);
    size: 100px;
}

nav{
    display: flex;
    gap: 700px;
    align-items: center;
}

.container nav ul{
    display: flex;
}

.container nav ul li{
    list-style-type: none;
    padding-right: 35px;
}

.container nav ul li a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.container nav ul button{
    padding: 7px 12px ;
    border-radius: 15px;
    background: rgb(0, 0, 0);
    border :solid rgb(255, 255, 255) 1px;
    color: #ffffff;
    cursor: pointer;
}

.container nav ul li a:hover{
    text-decoration: none;
    color: #9dff00;
    
}

.nav-button{
    padding: 5px 10px ;
    background: transparent;
    color: #15ff00;
    border :solid #fff 1.5px ;
    cursor: pointer;
}

.logo{
    padding: 10px 0px 10px 55px;
}

.logo img{
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
    border: solid  #ffffff 2px;
}

.textt {
    margin: 70px;
    text-align: left;
}

.textt h1{
    margin: 15px;
    color: #2de498;
    font-size: 40px;
}

.textt p{
    margin: 15px;
    color:  #2de498;
    font-weight: bold;
    font-size: x-large;
}

.textt h4{
    margin: 15px;
    color:  #b9ffe2;
    font-size: smaller;
}

.textt button{
    margin: 15px;
    background-color: rgb(0, 0, 0);
    padding: 10px 15px ;
    color: rgb(255, 255, 255);
    border: solid  #142c1a 2px;
    border-radius: 20px;
    cursor: pointer;
}

.textt button:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: solid  #142c1a 1px;
    font-weight: bolder;
}

.social-icons {
  display: flex;
  justify-content: center; 
  gap: 15px;
  margin-top: -25px; 
  margin-bottom: 30px;
}

.social-icons a {
  background-color: #1c471e; 
  color: white;
  border-radius: 40%;
  padding: 9px;
  font-size: 13px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.social-icons a:hover {
  background-color: #1b5e20; 
}

.font{
    text-align: center;
    color: #ffffff;
    margin: 100px;
}

.container2{
    margin: 50px;
}

.display{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.card1{
    height: 400px;
    width: 400px;
    background-image:url(bkre.jpg);
    background-size: cover;
}

.card2{
    height: 400px;
    width: 400px;
    background-color: #dafff0;
    padding: 20px;
}

.icon3 img{
    height: 30px;
    width: 30px;
}

.icon3{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.card2 h1{
    margin-bottom: 20px;
}

.card2 p{
    margin-bottom: 2px;
}

.card2 h4{
    margin: 20px 0px 10px 0px;
}

.card2 b{
    margin-bottom: 10px;
}

.container3{
    background-image: url(m21.jpg);
    height: 400px;
    width: 900px;
    background-size: cover;
    margin: 20px auto;
}

.text{
    width: 450px;
    padding: 50px;
}

.text h1{
    margin-bottom: 10px;
}

.text p{
    margin-bottom: 10px;
    line-height: 20px;
}

.text button{
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    background-color: #364e44;
    color: #ffffff;
    border: 1px solid floralwhite;
}

.container4 h1{
    text-align: center;
    color: #fffefe;
    padding-top: 50px;
}

.container4 p{
    text-align: center;
    color: #fffefe;
}


.display4{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.cardA{
    width: 300px;
    height: 100px;
    background-color: #dafff0;
    margin-bottom: 10px;
    border-radius: 20px;
    border: #ff0000 solid 1px;
}

.cardA p{
    padding: 30px;
    color: #000000;
    text-align: left;
}

.card6{
    background-image:url(card6.jpg);
    height: 320px;
    width: 300px;
    background-size: cover;
    border-radius: 15px;
    border: #fffefe solid 1px;

}

.footer{
    background-color:   rgb(14, 14, 13);
    color: rgb(205, 205, 255);
    max-height: 300px;
    width: 1340px;
    
}

.footer .conttt{
    padding: 50px;
    display: flex;
    gap: 80px; 
    align-items: center;
    justify-content: center;
}
.detals h1{
    cursor: pointer;
}


.detals h3{
    padding: 10px;
    cursor: pointer;
}


.detals p{
    padding: 10px;
    cursor: pointer;
}

.detals p:hover{
    transform: translateY(-3px);
    color: rgb(196, 190, 190);
}

.detals button{
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    border: solid rgb(255, 0, 0) 1px;
}

.detals button:hover{
    background-color: #ffffff;
    color: #000000;
    border: solid rgb(255, 255, 255) 1px;
}

