*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-color: #000000;
    size: 100px;
}

nav{
    display: flex;
    gap: 700px;
    align-items: center;
}

.container nav ul{
    display: flex;
}

.container nav ul li{
    list-style-type: none;
    padding-right: 35px;
}

.container nav ul li a{
    text-decoration: none;
    color: #fffefe;
    cursor: pointer;
}

.container nav ul button{
    padding: 7px 12px ;
    border-radius: 15px;
    background: rgb(0, 0, 0);
    border :solid rgb(255, 255, 255) 2px;
    color: #ffffff;
    cursor: pointer;
}

.container nav ul li a:hover{
    text-decoration: none;
    color: #ffffff;
    
}

.nav-button{
    padding: 5px 10px ;
    background: transparent;
    color: #ffffff;
    border :solid #fff 1.5px ;
    cursor: pointer;
}

.logo{
    padding: 10px 0px 10px 55px;
}

.logo img{
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
    border: solid  #ffffff 2px;
}

.head h1{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #acacac;
    font-size: 40px;
}

.container2 {
    background-color: #000;
    color: #ffffff;
    padding: 20px;
}

.card {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.text h1 {
    font-size: 18px;
    margin: 5px 0;
    text-align: left;
}

.text p {
    font-size: 20px;
    margin: 5px 0;
    text-align: left;
}

.image {
    padding: 10px;
    border: #fff solid 0.5px;
    margin: 10px;
}

.image img {
    height: 300px;
    width: 360px;
    border-radius: 8px;
}


.footer{
    background-color:   rgb(14, 14, 13);
    color: rgb(205, 205, 255);
    max-height: 300px;
    width: 1340px;
    
}

.footer .conttt{
    padding: 50px;
    display: flex;
    gap: 80px; 
    align-items: center;
    justify-content: center;
}
.detals h1{
    cursor: pointer;
}


.detals h3{
    padding: 10px;
    cursor: pointer;
}


.detals p{
    padding: 10px;
    cursor: pointer;
}

.detals p:hover{
    transform: translateY(-3px);
    color: rgb(22, 22, 22);
}

.detals button{
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    border: solid white 1px;
}

.detals button:hover{
    background-color: #ffffff;
    color: #000000;
    border: solid rgb(255, 255, 255) 1px;
}

