*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(15, 8, 8);
}

.container{
    height: 500px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image:url(bb2.jpg);
    size: 100px;
}

nav{
    display: flex;
    gap: 700px;
    align-items: center;
}

.container nav ul{
    display: flex;
}

.container nav ul li{
    list-style-type: none;
    padding-right: 35px;
}

.container nav ul li a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.container nav ul button{
    padding: 7px 12px ;
    border-radius: 15px;
    background: rgb(0, 0, 0);
    border :solid rgb(255, 0, 0) 1px;
    color: #ffffff;
    cursor: pointer;
}

.container nav ul li a:hover{
    text-decoration: none;
    color: #9dff00;
}

.logo{
    padding: 10px 0px 10px 55px;
}

.logo img{
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
    border: solid  #522e2e 2px;
}

.font{
    text-align: center;
    color: #ffffff;
    margin: 100px;
    font-size: xx-large;
}




.content{
    background-color: rgb(37, 39, 29);
    max-width: 1100px;
    margin: 20px auto;
    color: #ffffff;
}

.imgh img{
    width: 500px;
    height: 500px;
}

.login{
    display: flex;
    gap: 50px;
    padding: 10px;
}

.lebel{
    padding: 25px;
}

.lebel h1{
    padding: 15px;
}

.lebel p{
    padding: 15px;
}

.lebel p a{
    color: rgb(211, 211, 211);
}

.lebel p a:hover{
    color: rgb(255, 255, 255);
}

.name input{
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    padding-left: 13px;
}

.name{
    padding: 15px;
}

.em input{
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    margin-bottom: 15px;
    width: 300px;
}

.em {
    padding: 0px 15px 15px 15px;
}

.em br{
    padding: 15px;
}

.chk {
    padding: 0px 15px 15px 15px;
}

.chk label a{
    color: rgb(211, 211, 211);
}

.chk label a:hover{
    color: rgb(255, 255, 255);
}

.lebel button{
    padding: 10px 15px 10px 15px;
    margin: 0px 15px 15px 15px;
    width: 300px;
    background-color: rgb(41, 41, 102);
    color: #fff;
    border: 0.1px solid white;
    cursor: pointer;
}

.lebel button:hover{
    background-color: rgb(31, 34, 34);
}

.btn{
    display: flex;
    padding: 15px 15px 15px 0px;
}

.btn button{
    width: 140px;
    background-color: transparent;
    border: 0.1px solid white;
    cursor: pointer;
}

.btn button:hover{
    font-size: 14px;
}

.btn button img{
    height: 15px;
    width: 15px;
}

.Atheef1{
    display: flex;
    gap: 30px;
    padding: 30px;
    margin: 40px 10px 0px 0px;
}

.atcard{
    border: #ffffff solid 1px;
    border-radius: 15px;
    
}
.atcard p{
    padding: 20px;
    border: #ffffff solid 1px;
    border-radius: 15px;
    
}

.get{
    text-align: center;
    padding: 35px;
}